<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard: All Posts</title>
</head>

<body style="display: flex;justify-content: center;align-items: center;flex-direction: column;margin: 50px auto 0;">
<h1>All posts posted on IsaacBook!</h1>


<fieldset style="width: auto;">
<div class="posts">
    <ul th:each="post : ${posts}">
        <li th:text="${post}"></li>
    </ul>
</div>
</fieldset>
</body>

<footer>
    <p>Coded by: Isaac</p>
</footer>

</html>